[project]
	description = Visual source safe tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sergii Kabashniuk (skabashnyuk)
[access "refs/for/refs/*"]
	read = group user/Sergii Kabashniuk (skabashnyuk)
	push = group user/Sergii Kabashniuk (skabashnyuk)
	label-Code-Review = -2..+2 group user/Sergii Kabashniuk (skabashnyuk)
	label-Verified = -1..+1 group user/Sergii Kabashniuk (skabashnyuk)
	rebase = group user/Sergii Kabashniuk (skabashnyuk)
	removeReviewer = group user/Sergii Kabashniuk (skabashnyuk)
	submit = group user/Sergii Kabashniuk (skabashnyuk)
[access "refs/heads/*"]
	read = group user/Sergii Kabashniuk (skabashnyuk)
	create = group user/Sergii Kabashniuk (skabashnyuk)
	push = +force group user/Sergii Kabashniuk (skabashnyuk)
	pushMerge = group user/Sergii Kabashniuk (skabashnyuk)
[access "refs/tags/*"]
	push = +force group user/Sergii Kabashniuk (skabashnyuk)
	pushTag = group user/Sergii Kabashniuk (skabashnyuk)
	pushSignedTag = group user/Sergii Kabashniuk (skabashnyuk)
